@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    nord --default,
    forest --prefersdark;
}
@plugin "daisyui/theme" {
  name: "nord";
  default: true;
  --radius-box: 1rem;
  --radius-field: 2rem;
}
