$linkColor: #CCC;
$hoverColor: White;
$activeBackground: Gainsboro;
$activeColor: Black;


.brand {
  text-decoration: none;
  color: $linkColor
}

.brand:hover {
  text-decoration: none;
  color: $hoverColor
}

.navLink:hover {
  text-decoration: none;
  color: $hoverColor
}

.navLink {
  text-align: center;
  padding: 4px;
  margin: 4px;
  color: $linkColor
}

.active {
  color: $activeColor;
  background: $activeBackground;
  border-radius: 6px;
}

.active:hover {
  background: none;
}
